.filter {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.filterInput {
  display: block;
  padding: 4px 6px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid grey;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filterInput:focus {
  outline: 1px solid black;
}
