.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  padding: 0 20px;
  object-fit: contain;
}

.container {
  position: relative;
}

.title {
  position: absolute;
  color: black;
  font-size: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
